.card {
  width: 327px;
  height: 455px;
  overflow: hidden;

  &:first-child {
    border-radius: 8px 8px 0 0;
  }
  &:last-child {
    border-radius: 0 0 8px 8px;
  }
}

.card__title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Big Shoulders", sans-serif;
}

.card__paragraph {
  font-size: 1rem;
  line-height: 25px;
  color: hsla(0, 0%, 100%, 0.75);
}